<h1>
    Am Charts
</h1>

<div class="chart_div">
    <h2>1. Vertical Bar Chart</h2>
    <app-amc-bar-chart></app-amc-bar-chart>
</div>
<br />
<div class="chart_div">
    <h2>2. Horizontal Bar Chart</h2>
    <app-amc-horizontal-bar-chart></app-amc-horizontal-bar-chart>
</div>

<br />
<div class="chart_div">
    <h2>3. Gauge Chart</h2>
    <app-amc-gauge-chart></app-amc-gauge-chart>
</div>
<div class="chart_div">
    <h2>4. Waterfall Chart</h2>
     <app-amc-stacked-chart></app-amc-stacked-chart>
</div>