<h1>
    High Charts
</h1>

<div class="chart_div">
    <h2>1. Vertical Bar Chart</h2>
    <app-high-bar-chart></app-high-bar-chart>
</div>
<br />
<div class="chart_div">
    <h2>2. Horizontal Bar Chart</h2>
    <app-high-horizontal-bar-chart></app-high-horizontal-bar-chart>
</div>
<br />
<div class="chart_div">
    <h2>3. Gauge Chart</h2>
    <app-high-gauge-chart></app-high-gauge-chart>
</div>
<div class="chart_div">
    <h2>4. Waterfall Chart</h2>
     <app-high-stacked-chart></app-high-stacked-chart>
</div>