<div style="width: 100%; float: left;">
    <h2>Demo #1: AMcharts with a basic editor</h2>
    <div style="width:30%; float: left;">
            Drill Type : <select [(ngModel)]='drillType' class='form-control'>
                    <option value='Level'>Level</option>
                    <option value='KPI'>KPI</option>
                    <option value='Time'>Time</option>
                  </select>
                  <br/><br/>

                  Time Period : <select [(ngModel)]='timePeriod' class='form-control'  (change)="timePeriodChangeMethod()">
                        <option value='YTD'>YTD</option>
                        <option value='MTD'>MTD</option>
                        <option value='WTD'>WTD</option>
                        <option value='Today'>Today</option>
                        <option value='PW'>PW</option>
                        <option value='PM'>PM</option>
                        <option value='PY'>PY</option>
                      </select>
                  
                      <br/><br/>

        Chart Title :<input type="text" [(ngModel)]="chartTitle" /> <button (click)="updateTitle()">Update Title</button>
        <br/><br/>
        Chart Type :<input type="text" [(ngModel)]="chartType" /> <button (click)="updateType()">Update Type</button>
        <br/><br/>
        <button *ngIf="!showRealTimeData" (click)="playRealTimeData()">Play Real Time Data</button>
        <button *ngIf="showRealTimeData" (click)="stopRealTimeData()">Stop Real Time Data</button>
    </div>
    <div style="width:65%; float: left;">
        <span *ngIf="chartDrillDown" (click)="backToMainChart()">< Go Back</span>
        <div id="chartdiv" [style.width.%]="100" [style.height.px]="420"></div>
    </div>
</div>

