<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Chart Demo
    </h1>
</div>
<ul>
  <li>
    <h2><a [routerLink]="['ngxchart']">NGX Charts</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['amchart']">Am Charts</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['highchart']">High Charts</a></h2>
  </li>

  <li>
      <h2><a [routerLink]="['verticalBarCharts']">All Vertical Bar Charts</a></h2>
    </li>
    <li>
        <h2><a [routerLink]="['horizontalBarCharts']">All Horizontal Bar Charts</a></h2>
      </li>
      <li>
          <h2><a [routerLink]="['gaugeCharts']">All Gauge Charts</a></h2>
        </li>
        <li>
            <h2><a [routerLink]="['stackedCharts']">All Stacked Charts</a></h2>
          </li>
          <li>
            <h2><a [routerLink]="['interactiveCharts']">Interactive High Charts</a></h2>
          </li>

          <li>
            <h2><a [routerLink]="['drillCharts']">Drill High Charts</a></h2>
          </li>
          <li>
            <h2><a [routerLink]="['interactiveAmCharts']">Interactive AM Charts</a></h2>
          </li>
</ul>


<router-outlet></router-outlet>

