<h1>
    NGX Charts
</h1>

<div class="chart_div">
    <h2>1. Vertical Bar Chart</h2>
    <app-ngx-bar-chart></app-ngx-bar-chart>
</div>
<br />
<div class="chart_div">
    <h2>2. Horizontal Bar Chart</h2>
    <app-ngx-horizontal-bar-chart></app-ngx-horizontal-bar-chart>
</div>

<br />
<div class="chart_div">
    <h2>3. Gauge Chart</h2>
    <app-ngx-gauge></app-ngx-gauge>
</div>
<div class="chart_div">
    <h2>4. Waterfall Chart</h2>
     <app-ngx-stacked-vertical> </app-ngx-stacked-vertical>
</div>